body{
	background-image: url('img/evol.gif');
	background-color:#DEB887 ;
	font-size: 87.5%;
	font-family: Arial,'Lucida Sans Unicode';
	line-height:1.5 ;
	text-align: left ; 
}

a{
	text-decoration: none;
}
a:link , a:visited {
  
}

a:hover, a:active {

}

.body{
	background-image: url("bh.PNG");
    background-attachment: fixed; /* Le fond restera fixe */
    background-repeat: no-repeat; /* Le fond ne sera pas répété */
	margin:0 auto ; 
	width: 98% ;
	clear: both ;
}

.mainHeader img{
   width: 100%;
   height: auto;
   margin: 0 0;
}
.mainHeader nav{
	background-color: #666;
	height: 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.mainHeader nav ul{
	list-style: none;
	margin: 0 auto;
}

.mainHeader nav ul li{
	float:left; 
	display: inline; ;
}

.mainHeader nav a:link,  .mainHeader nav a:visited{
	color: #FFF;
	display : inline-block ;
	padding: 10px 25px;
	height: 20px;
}

.mainHeader nav a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a.visited{
	background-color: #FFF;
	text-shadow: none;
}

.mainHeader nav ul li a{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.mainContent{
	line-height: 25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

}

.content {
	width: 700px; 
	float: left ;
	
}

.topcontent{
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2%;
	width:900px;
	height: 3200px;
}

.top-sidebar{
   width:340px  ;
   height: 250px; 
   float:right; 
   background-color: #eee;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-left: 10px;
	margin-top: 1%;

}

.middle-sidebar{
   width:340px  ;
   height: 250px; 
   float:right; 
   background-color: #eee;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-left: 10px;
	margin-top: 1.5%;
}

.bottom-sidebar{
   width:340px  ;
   height: 250px; 
   float:right; 
   background-color: #eee;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-left: 10px;
	margin-top: 1.5%;
}

.mainFooter{
	width:100%  ; 
   float:left; 
   background-color: #666;
   border-radius: 5px;
   -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #666;
	margin: 2% 0%;
	height: 40px;
}
.mainFooter p {
	width: 92%;
    margin: 0 auto;
    color: #FFF;
}
@media only screen and (min-width: 150px) and (max-width: 600px){

	 .body{
	margin:0 auto ; 
	width: 90% ;
	clear: both ;
}


}